body{
    background: linear-gradient(#84E184, #ff0800);
    
}
.center {
  margin: auto;
  width: 15%;
  padding: 10px;
    
  }

  .legend
  {
    display: block;
    width: 75px;
    font-size:50px 
  }
  .labels
  {
    display: block;
    width: 75px;
    font-size:50px 
  }

  .inputlabel
  {
    width: 250px;
    height: 50px;
    box-shadow: 0 0 11px #ff0800;
  }

  .labels2
  {
    display: block;

    width: 75px;
    font-size:50px
    
    
  }

  .inputlabel2
  {
    width: 250px;
    height: 50px;
    box-shadow: 0 0 11px #ff0800;
  }

  .labels3
  {
    display: block;
    width: 75px;
    font-size:50px
    
    
  }

  
  .inputlabel3
  {
    width: 250px;
    height: 50px;
    box-shadow: 0 0 11px #84E184;
  }

  .labels4
  {
    display: block;

    width: 75px;
    font-size:50px
    
    
  }

  .inputlabel4
  {
    width: 250px;
    height: 50px;
    box-shadow: 0 0 11px #84E184;
  }

  .labels5
  {
    display: block;

    width: 75px;
    font-size:50px
    
    
  }

  .inputlabel5
  {
    width: 250px;
    height: 50px;
    box-shadow: 0 0 11px #84E184;
  }
.submit
{
  width: 250px;
  height: 50px;
}