body{
    background: linear-gradient(#84E184, #ff0800);
    
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    align-content: stretch;
    
  }

  .labels
  {
    display: block;

    width: 75px;
    font-size:50px
    
    
  }

  .inputlabel
  {

  }

  .labels2
  {
    display: block;

    width: 75px;
    font-size:50px
    
    
  }

  .inputlabel2
  {

  }

  .labels3
  {
    display: block;
    width: 75px;
    font-size:50px
    
    
  }

  
  .inputlabel3
  {

  }

  .labels4
  {
    display: block;

    width: 75px;
    font-size:50px
    
    
  }

  .inputlabel4
  {

  }

  .labels5
  {
    display: block;

    width: 75px;
    font-size:50px
    
    
  }

  .inputlabel5
  {

  }
